<div class="dialog-box" [ngStyle]="{ 'width': gridCustomWidth }" [ngClass]="modalHeightWidth || ''">
  <div class="dialog-box-body">
    <div class="header">
      <span class="close" (click)="closeModal();">&times;</span>
      {{header}}
      <ng-content select="header"></ng-content>
    </div>
    <div class="content">
      <app-user-table [getSourceData]="sourceData" [searchFilter]="searchFilter" [footer]="footer"></app-user-table>
    </div>
  </div>
</div>
<div class="dialog-box-background"></div>