.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.table th,
.table td {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dddddd;
  background-color: #f7f7f8;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  padding: 15px 10px;
}

.table tbody + tbody {
  border-top: 1px solid #dddddd;
}

.table .table {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* .table-bordered th,
.table-bordered td {
  border: 1px solid #dddddd;
} */

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(245, 245, 245, 255);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #dddddd;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}

.form-container {
  margin-bottom: 1rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.275rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.btn-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
  float: right;
}
/* .btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
} */

.filter {
  width: 160px;
}

.pull-right {
  float: right;
}

.btn-group {
  display: inline-block;
}

.btn-group button {
  width: 40px;
  height: 35px;
  border: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.ml-5px {
  margin-left: 5px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 15px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 15px;
}

select {
  background: #ddd;
  padding: 8px;
  border: none;
  border-radius: 3px;
}
